In [2]:
import pandas as pd
import numpy as np

In [3]:
# Load 2014 and 2015 survey household data
per14 = pd.read_excel(r'data\2014\2014-pr3-hhsurvey-trip.xlsx', sheet='Sheet1')
per15 = pd.read_excel(r'data\2015\4_PSRC2015_Trip_2015-07-02.xlsx', sheet='Sheet1')

IOError: [Errno 2] No such file or directory: 'data\\2014\\2014-pr3-hhsurvey-trip.xlsx'

In [13]:
expwt14 = 'expwt_final'
expwt15 = 'personid'    # No weights yet so just using arbitrary column to sum up counts

per14.year = '2014'
per15.year = '2015'

In [14]:
def df_sample(df1, df2, field, agg1, agg2, report_avg=True):
    '''Compare samples from two surveys in the same dataframe'''
    df = pd.DataFrame()
    df[df1.year + ' Samples'] = df1.groupby(field).count()[agg1]
    df[df2.year + ' Samples'] = df2.groupby(field).count()[agg2]
    df[" "*5] = ""    # empty col to separate samples from shares
    df[df1.year + ' Shares'] = (df1.groupby(field).count()[agg1]/df1[agg1].count()).round(2)
    df[df2.year + ' Shares'] = (df2.groupby(field).count()[agg2]/df2[agg2].count()).round(2)

    print df  
    print "---------" * 10
    
    if report_avg:
        print "Sample average " + df1.year + ": " + str(np.round(df1[field].mean(),2))
        print "Sample average " + df2.year + ": " + str(np.round(df2[field].mean(),2))

** Age Category**

In [18]:
df_sample(per14, per15, 'age', expwt14, expwt15)

     2014 Samples  2015 Samples        2014 Shares  2015 Shares
age
1             667           257               0.05         0.05
2             691           254               0.06         0.05
3             382           144               0.03         0.03
4             158            64               0.01         0.01
5             604           208               0.05         0.04
6            2282           756               0.19         0.16
7            1839           678               0.15         0.14
8            1697           641               0.14         0.13
9            1947           837               0.16         0.17
10           1290           634               0.11         0.13
11            492           270               0.04         0.06
12            149            71               0.01         0.01
------------------------------------------------------------------------------------------
Sample average 2014: 6.94
Sample average 2015: 7.19

** Gender **

In [20]:
df_sample(per14, per15, 'gender', expwt14, expwt15)

        2014 Samples  2015 Samples        2014 Shares  2015 Shares
gender
1               5808          2579               0.48         0.54
2               6390          2235               0.52         0.46
------------------------------------------------------------------------------------------
Sample average 2014: 1.52
Sample average 2015: 1.46

** Employment **

In [21]:
df_sample(per14, per15, 'employment', expwt14, expwt15)

            2014 Samples  2015 Samples        2014 Shares  2015 Shares
employment
1                   5066          1877               0.42         0.39
2                   1002           369               0.08         0.08
3                    771           262               0.06         0.05
4                    101            52               0.01         0.01
5                    574           240               0.05         0.05
6                   1901          1001               0.16         0.21
7                    885           294               0.07         0.06
------------------------------------------------------------------------------------------
Sample average 2014: 2.94
Sample average 2015: 3.14

** Student Status **

In [22]:
df_sample(per14, per15, 'student', expwt14, expwt15)

         2014 Samples  2015 Samples        2014 Shares  2015 Shares
student
1                9489          3820               0.78         0.79
2                 313           106               0.03         0.02
3                 498           169               0.04         0.04
------------------------------------------------------------------------------------------
Sample average 2014: 1.13
Sample average 2015: 1.11

** Education **

In [23]:
df_sample(per14, per15, 'education', expwt14, expwt15)

           2014 Samples  2015 Samples        2014 Shares  2015 Shares
education
1                   195            79               0.02         0.02
2                   946           372               0.08         0.08
3                  1585           625               0.13         0.13
4                   445           154               0.04         0.03
5                   737           274               0.06         0.06
6                  3653          1481               0.30         0.31
7                  2739          1110               0.22         0.23
------------------------------------------------------------------------------------------
Sample average 2014: 5.18
Sample average 2015: 5.21

** Smartphone **

In [24]:
df_sample(per14, per15, 'smartphone', expwt14, expwt15)

            2014 Samples  2015 Samples        2014 Shares  2015 Shares
smartphone
1                   7407          2916               0.61         0.61
2                    499           162               0.04         0.03
3                   2552          1081               0.21         0.22
------------------------------------------------------------------------------------------
Sample average 2014: 1.54
Sample average 2015: 1.56

** License **

In [25]:
df_sample(per14, per15, 'license', expwt14, expwt15)

         2014 Samples  2015 Samples        2014 Shares  2015 Shares
license
1                9640          3813               0.79         0.79
2                 818           346               0.07         0.07
------------------------------------------------------------------------------------------
Sample average 2014: 1.08
Sample average 2015: 1.08

** Toll Frequency **

In [28]:
df_sample(per14, per15, 'tollfreq', expwt14, expwt15)

          2014 Samples  2015 Samples        2014 Shares  2015 Shares
tollfreq
1                  275            98               0.02         0.02
2                  245           111               0.02         0.02
3                  227           121               0.02         0.03
4                 1170           461               0.10         0.10
5                 4502          1869               0.37         0.39
6                 3668          1350               0.30         0.28
7                  371           149               0.03         0.03
------------------------------------------------------------------------------------------
Sample average 2014: 5.09
Sample average 2015: 5.05

In [33]:
df_sample(per14, per15, 'benefits_parking', expwt14, expwt15)

                  2014 Samples  2015 Samples        2014 Shares  2015 Shares
benefits_parking
1                         2189           831               0.18         0.17
2                          643           261               0.05         0.05
3                         2873          1019               0.24         0.21
4                          363           135               0.03         0.03
------------------------------------------------------------------------------------------
Sample average 2014: 2.23
Sample average 2015: 2.2