In [2]:
import pandas as pd
import numpy as np

In [19]:
# Load 2014 and 2015 survey household data
trip14 = pd.read_excel(r'data\2014\2014-pr3-hhsurvey-trips.xlsx', sheet='Sheet1')
trip15 = pd.read_excel(r'data\2015\4_PSRC2015_Trip_2015-07-02.xlsx', sheet='Sheet1')

In [20]:
expwt14 = 'expwt_final'
expwt15 = 'hhid'    # No weights yet so just using arbitrary column to sum up counts

trip14.year = '2014'
trip15.year = '2015'

In [21]:
def df_sample(df1, df2, field, agg1, agg2, report_avg=True):
    '''Compare samples from two surveys in the same dataframe'''
    df = pd.DataFrame()
    df[df1.year + ' Samples'] = df1.groupby(field).count()[agg1]
    df[df2.year + ' Samples'] = df2.groupby(field).count()[agg2]
    df[" "*5] = ""    # empty col to separate samples from shares
    df[df1.year + ' Shares'] = (df1.groupby(field).count()[agg1]/df1[agg1].count()).round(2)
    df[df2.year + ' Shares'] = (df2.groupby(field).count()[agg2]/df2[agg2].count()).round(2)

    print df  
    print "---------" * 10
    
    if report_avg:
        print "Sample average " + df1.year + ": " + str(np.round(df1[field].mean(),2))
        print "Sample average " + df2.year + ": " + str(np.round(df2[field].mean(),2))

** Trip Purpose**

In [23]:
df_sample(trip14, trip15, 'd_purpose', expwt14, expwt15)

           2014 Samples  2015 Samples        2014 Shares  2015 Shares
d_purpose
1                 16549          6360               0.35         0.32
2                  6623          2440               0.14         0.12
3                  1140           530               0.02         0.03
4                  3144          1257               0.07         0.06
5                  2662          1134               0.06         0.06
6                  1642          1036               0.03         0.05
7                  1040           431               0.02         0.02
8                  3088          1095               0.06         0.06
9                  2922           842               0.06         0.04
10                 2648          1155               0.06         0.06
11                 2823          1117               0.06         0.06
12                 1521           480               0.03         0.02
13                  983           300               0.02         0.02
14                  566           204               0.01         0.01
15                  129           356               0.00         0.02
16                  438           938               0.01         0.05
------------------------------------------------------------------------------------------
Sample average 2014: 4.86
Sample average 2015: 5.38

** Mode **

In [24]:
df_sample(trip14, trip15, 'mode', expwt14, expwt15)

      2014 Samples  2015 Samples        2014 Shares  2015 Shares
mode
-99             30           NaN               0.00          NaN
 1           19420          7527               0.41         0.38
 2           11383          4766               0.24         0.24
 3            2791          1252               0.06         0.06
 4             128            16               0.00         0.00
 5             122            66               0.00         0.00
 6             931           309               0.02         0.02
 7            8847          3781               0.18         0.19
 8            2930          1408               0.06         0.07
 9             177            89               0.00         0.00
 10            130            57               0.00         0.00
 11             16             3               0.00         0.00
 12            587           222               0.01         0.01
 13             87            32               0.00         0.00
 14             19            15               0.00         0.00
 15            174            76               0.00         0.00
 16            114            41               0.00         0.00
 17             32            15               0.00         0.00
------------------------------------------------------------------------------------------
Sample average 2014: 3.26
Sample average 2015: 3.43

** Commute Mode Share **

In [27]:
com14 = trip14.query('d_purpose == 2 and o_purpose == 1')    # commute only trips
com15 = trip15.query('d_purpose == 2 and o_purpose == 1')
com14.year = trip14.year
com15.year = trip15.year
df_sample(com14, com15, 'mode', expwt14, expwt15)

      2014 Samples  2015 Samples        2014 Shares  2015 Shares
mode
1             2573           881               0.60         0.61
2              198            74               0.05         0.05
3               73            17               0.02         0.01
4               29             7               0.01         0.00
5               44             6               0.01         0.00
6              193            71               0.04         0.05
7              336           124               0.08         0.09
8              740           250               0.17         0.17
9               47             7               0.01         0.00
10              37           NaN               0.01          NaN
11               2           NaN               0.00          NaN
13               4             4               0.00         0.00
15              36             4               0.01         0.00
17               2           NaN               0.00          NaN
------------------------------------------------------------------------------------------
Sample average 2014: 3.34
Sample average 2015: 3.19

** Trip Duration **

In [29]:
df_sample(trip14, trip15, 'trip_dur_reported', expwt14, expwt15)

                   2014 Samples  2015 Samples        2014 Shares  2015 Shares
trip_dur_reported
-99                          32           NaN               0.00          NaN
 5                        10314          4327               0.22         0.22
 10                       10265          4220               0.21         0.21
 15                        8047          3444               0.17         0.18
 20                        4927          2082               0.10         0.11
 25                        3033          1195               0.06         0.06
 30                        3878          1455               0.08         0.07
 35                        1502           625               0.03         0.03
 40                        1207           535               0.03         0.03
 45                        1319           470               0.03         0.02
 50                         628           219               0.01         0.01
 55                         438           144               0.01         0.01
 60                         716           271               0.01         0.01
 65                         241            78               0.01         0.00
 70                         209            77               0.00         0.00
 75                         219           102               0.00         0.01
 80                         136            39               0.00         0.00
 85                         110            42               0.00         0.00
 90                         163            60               0.00         0.00
 95                          56            19               0.00         0.00
 100                         53            18               0.00         0.00
 105                         73            19               0.00         0.00
 110                         44             8               0.00         0.00
 115                         25            18               0.00         0.00
 120                         49            31               0.00         0.00
 125                         17             5               0.00         0.00
 130                         16            13               0.00         0.00
 135                         16             3               0.00         0.00
 140                         17             8               0.00         0.00
 145                          7             6               0.00         0.00
...                         ...           ...   ...          ...          ...
 320                          2           NaN               0.00          NaN
 330                          3           NaN               0.00          NaN
 345                          1           NaN               0.00          NaN
 360                          3             1               0.00         0.00
 370                          2             1               0.00         0.00
 375                          2             1               0.00         0.00
 400                          1           NaN               0.00          NaN
 410                          1           NaN               0.00          NaN
 425                          1           NaN               0.00          NaN
 435                          1             1               0.00         0.00
 450                          1           NaN               0.00          NaN
 470                          2             1               0.00         0.00
 480                          1           NaN               0.00          NaN
 505                          1             1               0.00         0.00
 510                          2             2               0.00         0.00
 540                          1           NaN               0.00          NaN
 550                          2           NaN               0.00          NaN
 555                          2             1               0.00         0.00
 590                          1           NaN               0.00          NaN
 600                          1             1               0.00         0.00
 615                          1           NaN               0.00          NaN
 640                          2           NaN               0.00          NaN
 765                          1           NaN               0.00          NaN
 780                          2           NaN               0.00          NaN
 900                          1           NaN               0.00          NaN
 915                          2           NaN               0.00          NaN
 955                          1           NaN               0.00          NaN
 960                          1           NaN               0.00          NaN
 1140                         1           NaN               0.00          NaN
 1445                         1             1               0.00         0.00

[82 rows x 5 columns]
------------------------------------------------------------------------------------------
Sample average 2014: 20.71
Sample average 2015: 20.58

** Taxi Type **

In [34]:
df_sample(trip14, trip15, 'taxi_type', expwt14, expwt15)
# 1 is regular tax, 2 is rideshare (e.g., Uber, Lyft)

           2014 Samples  2015 Samples        2014 Shares  2015 Shares
taxi_type
-99                1329           NaN               0.03          NaN
 1                   39            13               0.00            0
 2                   57            19               0.00            0
------------------------------------------------------------------------------------------
Sample average 2014: -92.22
Sample average 2015: 1.59