In [44]:
import pandas as pd
import numpy as np

In [17]:
# Load 2014 and 2015 survey household data
hh14 = pd.read_excel(r'data\2014\2014-pr3-hhsurvey-households.xlsx', sheet='Sheet1')
# hh15 = pd.read_excel(r'data\2015\1_PSRC2015_HH_2015-07-02.xlsx', sheet='Sheet1')

In [86]:
expwt14 = 'expwt_2'
expwt15 = 'hhid'    # No weights yet so just using arbitrary column to sum up counts

hh14.year = '2014'
hh15.year = '2015'

In [246]:
def df_sample(df1, df2, field, agg1, agg2, report_avg=True):
    '''Compare samples from two surveys in the same dataframe'''
    df = pd.DataFrame()
    df[df1.year + ' Samples'] = df1.groupby(field).count()[agg1]
    df[df2.year + ' Samples'] = df2.groupby(field).count()[agg2]
    df[" "*5] = ""    # empty col to separate samples from shares
    df[df1.year + ' Shares'] = (df1.groupby(field).count()[agg1]/df1[agg1].count()).round(2)
    df[df2.year + ' Shares'] = (df2.groupby(field).count()[agg2]/df2[agg2].count()).round(2)

    print df  
    print "---------" * 10
    
    if report_avg:
        print "Sample average " + df1.year + ": " + str(np.round(df1[field].mean(),2))
        print "Sample average " + df2.year + ": " + str(np.round(df2[field].mean(),2))

** Number of Adults**

In [224]:
df_sample(hh14, hh15, 'numadults', expwt14, expwt15)

           2014 Samples  2015 Samples        2014 Shares  2015 Shares
numadults
1                  2315           970               0.38         0.40
2                  3297          1289               0.55         0.53
3                   328           140               0.05         0.06
4                    79            28               0.01         0.01
5                    12             3               0.00         0.00
6                     4           NaN               0.00          NaN
7                     1           NaN               0.00          NaN
------------------------------------------------------------------------------------------
Sample average 2014: 1.71
Sample average 2015: 1.69

** Household Size **

In [225]:
df_sample(hh14, hh15, 'hhsize', expwt14, expwt15)

        2014 Samples  2015 Samples        2014 Shares  2015 Shares
hhsize
1               2195           933               0.36         0.38
2               2444           955               0.40         0.39
3                723           284               0.12         0.12
4                497           194               0.08         0.08
5                123            46               0.02         0.02
6                 37            14               0.01         0.01
7                 15             3               0.00         0.00
8                  2             1               0.00         0.00
------------------------------------------------------------------------------------------
Sample average 2014: 2.02
Sample average 2015: 1.98

** Number of Children **

In [226]:
df_sample(hh14, hh15, 'numchildren', expwt14, expwt15)

             2014 Samples  2015 Samples        2014 Shares  2015 Shares
numchildren
0                    4875          1992               0.81         0.82
1                     591           225               0.10         0.09
2                     445           164               0.07         0.07
3                      93            34               0.02         0.01
4                      23            11               0.00         0.00
5                       8             4               0.00         0.00
6                       1           NaN               0.00          NaN
------------------------------------------------------------------------------------------
Sample average 2014: 0.31
Sample average 2015: 0.3

** Number of Workers **

In [227]:
df_sample(hh14, hh15, 'numworkers', expwt14, expwt15)

            2014 Samples  2015 Samples        2014 Shares  2015 Shares
numworkers
0                   1405           719               0.23         0.30
1                   2617           986               0.43         0.41
2                   1853           664               0.31         0.27
3                    133            52               0.02         0.02
4                     25             7               0.00         0.00
5                      2             2               0.00         0.00
7                      1           NaN               0.00          NaN
------------------------------------------------------------------------------------------
Sample average 2014: 1.13
Sample average 2015: 1.03

** Lifecycle **

In [233]:
df_sample(hh14, hh15, 'lifecycle', expwt14, expwt15)

           2014 Samples  2015 Samples        2014 Shares  2015 Shares
lifecycle
1                   542           198               0.09         0.08
2                   619           240               0.10         0.10
3                   482           148               0.08         0.06
4                  1136           493               0.19         0.20
5                   577           292               0.10         0.12
6                   675           215               0.11         0.09
7                  1352           511               0.22         0.21
8                   653           333               0.11         0.14
------------------------------------------------------------------------------------------
Sample average 2014: 4.87
Sample average 2015: 4.97

** Income **

In [234]:
df_sample(hh14, hh15, 'hh_income_detailed', expwt14, expwt15)

                    2014 Samples  2015 Samples        2014 Shares  2015 Shares
hh_income_detailed
1                            225            86               0.04         0.04
2                            513           245               0.08         0.10
3                            455           183               0.08         0.08
4                            642           276               0.11         0.11
5                            995           353               0.16         0.15
6                            830           323               0.14         0.13
7                            994           406               0.16         0.17
8                            370           146               0.06         0.06
9                            159            78               0.03         0.03
10                           158            74               0.03         0.03
98                           695           260               0.12         0.11
------------------------------------------------------------------------------------------
Sample average 2014: 15.93
Sample average 2015: 15.17

** County **

In [242]:
df_sample(hh14, hh15, 'h_county_name', expwt14, expwt15, report_avg=False)

               2014 Samples  2015 Samples        2014 Shares  2015 Shares
h_county_name
King                   3871          1459               0.64         0.60
Kitsap                  366           127               0.06         0.05
Pierce                 1007           548               0.17         0.23
Snohomish               792           296               0.13         0.12
------------------------------------------------------------------------------------------

In [ ]:
# Notice that the oversample from Pierce shows up in the county distribution

In [247]:
df_sample(hh14, hh15, 'h_district_name', expwt14, expwt15, report_avg=False)

                         2014 Samples  2015 Samples        2014 Shares  \
h_district_name
East Side                         857           312               0.14
Everett-Lynwood-Edmonds           378           148               0.06
Kitsap                            366           127               0.06
North Seattle-Shoreline          1047           399               0.17
Renton-FedWay-Kent                438           157               0.07
Seattle CBD                      1107           418               0.18
South Pierce                      572           188               0.09
Suburban Snohomish                414           148               0.07
Tacoma                            434           360               0.07
West-South Seattle                423           173               0.07

                         2015 Shares
h_district_name
East Side                       0.13
Everett-Lynwood-Edmonds         0.06
Kitsap                          0.05
North Seattle-Shoreline         0.16
Renton-FedWay-Kent              0.06
Seattle CBD                     0.17
South Pierce                    0.08
Suburban Snohomish              0.06
Tacoma                          0.15
West-South Seattle              0.07
------------------------------------------------------------------------------------------

** Residence Type **

In [251]:
df_sample(hh14, hh15, 'res_type', expwt14, expwt15, report_avg=False)

          2014 Samples  2015 Samples        2014 Shares  2015 Shares
res_type
1                 3144          1320               0.52         0.54
2                  349           129               0.06         0.05
3                  162            56               0.03         0.02
4                   87            37               0.01         0.02
5                 2176           850               0.36         0.35
6                   78            28               0.01         0.01
7                   23             3               0.00         0.00
8                   17             7               0.00         0.00
------------------------------------------------------------------------------------------

In [252]:
df_sample(hh14, hh15, 'res_factors_walk', expwt14, expwt15, report_avg=False)

                  2014 Samples  2015 Samples        2014 Shares  2015 Shares
res_factors_walk
1                          409           136               0.07         0.06
2                          428           162               0.07         0.07
3                          687           268               0.11         0.11
4                         1851           782               0.31         0.32
5                         2661          1082               0.44         0.45
------------------------------------------------------------------------------------------

In [253]:
df_sample(hh14, hh15, 'res_factors_afford', expwt14, expwt15, report_avg=False)

                    2014 Samples  2015 Samples        2014 Shares  2015 Shares
res_factors_afford
1                            290           112               0.05         0.05
2                            217            79               0.04         0.03
3                            404           155               0.07         0.06
4                           1686           682               0.28         0.28
5                           3439          1402               0.57         0.58
------------------------------------------------------------------------------------------

In [254]:
df_sample(hh14, hh15, 'res_factors_transit', expwt14, expwt15, report_avg=False)

                     2014 Samples  2015 Samples        2014 Shares  \
res_factors_transit
1                            1035           390               0.17
2                             664           258               0.11
3                            1055           434               0.17
4                            1405           598               0.23
5                            1877           750               0.31

                     2015 Shares
res_factors_transit
1                           0.16
2                           0.11
3                           0.18
4                           0.25
5                           0.31
------------------------------------------------------------------------------------------