In [1]:
import pandas as pd
import numpy as np
from IPython.display import display, display_pretty, Javascript, HTML
from pandas_highcharts.core import serialize
from pandas_highcharts.display import display_charts
import matplotlib.pyplot as plt

# Show charts in notebook
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
# adding an empty line to test

In [3]:
from IPython.display import HTML

HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
<form action="javascript:code_toggle()"><input type="submit" value="Click here to toggle on/off the raw code."></form>''')

In [37]:
# Load 2014 and 2015 survey household data
hh14 = pd.read_excel(r'J://Projects/Surveys/HHTravel/Survey2014/Data/Final database/Release 4/2014-pr3-M-hhsurvey-households.xlsx', sheet='Data')
hh15 = pd.read_excel(r'J://Projects/Surveys/HHTravel/Survey2015/Data/Household/1_PSRC2015_HH_2015-07-27_V1.2.xlsx', sheet='Data')

In [38]:
# Load the combined 2014-2015 dataset to get expansion weights
hh14_15 = pd.read_excel(r'J://Projects/Surveys/HHTravel/Survey2014/Data/Combined/1_Combined_HH_2015-11-17.xlsx', sheet='Data')

In [6]:
# Select only the 2015 household records
hh14_15 =hh14_15[hh14_15['datasource'] == 'hts2015']
len(hh14_15)

2428

In [7]:
hh15 = pd.merge(hh15,hh14_15[['hhid','expwt_h1415']],on='hhid')

In [8]:
expwt14 = 'expwt_2'
expwt15 = 'expwt_h1415'

hh14.year = '2014'
hh15.year = '2015'

In [9]:
# Create dataframe with 14 and 15 data as columns
panel_hh = pd.merge(hh14, hh15, on='hhid', suffixes=['_14','_15'])

In [10]:
# Net change in household sample size
(panel_hh['hhsize_15'] - panel_hh['hhsize_14']).sum()

16L

In [11]:
# Net change in household adults
(panel_hh['numadults_15'] - panel_hh['numadults_14']).sum()

-1L

In [12]:
# Net change in children
(panel_hh['numchildren_15'] - panel_hh['numchildren_14']).sum()

17L

In [13]:
# Net change in income
(panel_hh['hh_income_detailed_15'] - panel_hh['hh_income_detailed_15']).sum()

0L

In [14]:
# Net change in total trips
(panel_hh['hhnumtrips_15'] - panel_hh['hhnumtrips_14']).sum()

40L

In [15]:
# Change in household TAZ?
(panel_hh['h_taz2010_15'] - panel_hh['h_taz2010_14']).sum()

-5061L

In [16]:
# Change in rent/own?
(panel_hh['rent_own_15'] - panel_hh['rent_own_14']).sum()

-5L

In [17]:
# Change in rent/own?
(panel_hh['res_type_15'] - panel_hh['res_type_14']).sum()

-69L

In [18]:
(panel_hh['res_factors_hhchange_15'] - panel_hh['res_factors_hhchange_14']).sum()

95L

In [19]:
panel_hh['res_factors_hhchange_delta'] = panel_hh['res_factors_hhchange_15'] - panel_hh['res_factors_hhchange_14']
panel_hh.groupby('res_factors_hhchange_delta').count()['hhid']

res_factors_hhchange_delta
-4                             22
-3                             30
-2                            215
-1                            144
 0                            751
 1                            158
 2                            210
 3                             43
 4                             35
Name: hhid, dtype: int64

In [20]:
print 
print panel_hh['res_factors_hhchange_14'].mean()

2.63992537313

In [21]:
def compare_factors(factor):
    df = pd.DataFrame()
    print '------------------------------------'
    print 'change in ' + factor
    print 'where 5 is most important'
    print '------------------------------------'
    df['14'] = panel_hh.groupby(factor +'_14').count()['hhid']
    df['15'] = panel_hh.groupby(factor +'_15').count()['hhid']
    df['change'] = df['15'] - df['14']
    print df
    print '-------------------------------------'
    print '2014 mean: ' + str(panel_hh[factor +'_14'].mean())
    print '2015 mean: ' + str(panel_hh[factor +'_15'].mean())
    print 'mean change 2014-2015: '

In [22]:
def compare_location(factor):
    df = pd.DataFrame()
    print '------------------------------------'
    print 'change in ' + factor
    print 'where 5 is most important'
    print '------------------------------------'
    df['14'] = panel_hh.groupby(factor +'_14').count()['hhid']
    df['15'] = panel_hh.groupby(factor +'_15').count()['hhid']
    df['change'] = df['15'] - df['14']
    print df

In [23]:
compare_factors('res_factors_hhchange')

------------------------------------
change in res_factors_hhchange
where 5 is most important
------------------------------------
                          14   15  change
res_factors_hhchange_14
1                        513  479     -34
2                         75   84       9
3                        661  666       5
4                        196  200       4
5                        163  179      16
-------------------------------------
2014 mean: 2.63992537313
2015 mean: 2.69900497512
mean change 2014-2015:

Affordability becomes more important in 2015

In [24]:
compare_factors('res_factors_afford')

------------------------------------
change in res_factors_afford
where 5 is most important
------------------------------------
                        14   15  change
res_factors_afford_14
1                       77   71      -6
2                       63   45     -18
3                      107  102      -5
4                      459  474      15
5                      902  916      14
-------------------------------------
2014 mean: 4.2723880597
2015 mean: 4.31778606965
mean change 2014-2015:

In [25]:
compare_factors('res_factors_school')

------------------------------------
change in res_factors_school
where 5 is most important
------------------------------------
                        14   15  change
res_factors_school_14
1                      544  555      11
2                       98  106       8
3                      452  436     -16
4                      212  231      19
5                      302  280     -22
-------------------------------------
2014 mean: 2.76990049751
2015 mean: 2.73569651741
mean change 2014-2015:

More households note walkability as an important factor in 2015

In [26]:
compare_factors('res_factors_walk')

------------------------------------
change in res_factors_walk
where 5 is most important
------------------------------------
                      14   15  change
res_factors_walk_14
1                    110   87     -23
2                    102   98      -4
3                    169  160      -9
4                    494  520      26
5                    733  743      10
-------------------------------------
2014 mean: 4.01865671642
2015 mean: 4.07835820896
mean change 2014-2015:

They also think that space is more important in 2015...

In [27]:
compare_factors('res_factors_space')

------------------------------------
change in res_factors_space
where 5 is most important
------------------------------------
                       14   15  change
res_factors_space_14
1                     170  150     -20
2                     197  187     -10
3                     324  321      -3
4                     521  541      20
5                     396  409      13
-------------------------------------
2014 mean: 3.48258706468
2015 mean: 3.54228855721
mean change 2014-2015:

Kind of a wash for importance of being close to family

In [28]:
compare_factors('res_factors_closefam')

------------------------------------
change in res_factors_closefam
where 5 is most important
------------------------------------
                          14   15  change
res_factors_closefam_14
1                        222  213      -9
2                        174  160     -14
3                        363  363       0
4                        503  543      40
5                        346  329     -17
-------------------------------------
2014 mean: 3.35883084577
2015 mean: 3.38246268657
mean change 2014-2015:

Transit is important, but maybe not quite the most important thing compared to 2014

In [29]:
compare_factors('res_factors_transit')

------------------------------------
change in res_factors_transit
where 5 is most important
------------------------------------
                         14   15  change
res_factors_transit_14
1                       244  241      -3
2                       163  157      -6
3                       248  251       3
4                       373  410      37
5                       580  549     -31
-------------------------------------
2014 mean: 3.54850746269
2015 mean: 3.54042288557
mean change 2014-2015:

Being near a highway becomes less important

In [30]:
compare_factors('res_factors_hwy')

------------------------------------
change in res_factors_hwy
where 5 is most important
------------------------------------
                     14   15  change
res_factors_hwy_14
1                   238  251      13
2                   267  284      17
3                   360  360       0
4                   542  529     -13
5                   201  184     -17
-------------------------------------
2014 mean: 3.125
2015 mean: 3.06902985075
mean change 2014-2015:

A 30 minute commute may not be as important as it was in 2014

In [31]:
compare_factors('res_factors_30min')

------------------------------------
change in res_factors_30min
where 5 is most important
------------------------------------
                       14   15  change
res_factors_30min_14
1                     182  180      -2
2                     101  102       1
3                     256  284      28
4                     338  344       6
5                     731  698     -33
-------------------------------------
2014 mean: 3.8302238806
2015 mean: 3.7947761194
mean change 2014-2015:

Ups in N. Seattle, Ballard, Uptown, Pike/Pine, First Hill,
downs in Capitol Hill, SLU, Belltown, Denny, CD

In [32]:
compare_factors('h_uv_group')

------------------------------------
change in h_uv_group
where 5 is most important
------------------------------------
               14  15  change
h_uv_group_14
1              28  26      -2
2              14  25      11
3              18  21       3
4              23  22      -1
5              21  22       1
6              28  40      12
7              11  10      -1
8              23  31       8
9              91  61     -30
10             11  35      24
11             34  55      21
12             40  26     -14
13             29  10     -19
14             31  18     -13
15             18  15      -3
16              5   5       0
17             11  13       2
18              9  10       1
-------------------------------------
2014 mean: 9.05393258427
2015 mean: 8.53707865169
mean change 2014-2015:

More households with kids under 5 and hhsize 1/2, 65+
fewer hh w/no kids, size 1-2, 35-64
more retirees and more children?

In [33]:
compare_factors('lifecycle')

------------------------------------
change in lifecycle
where 5 is most important
------------------------------------
               14   15  change
lifecycle_14
1             120  134      14
2             149  146      -3
3             105  103      -2
4             355  342     -13
5             174  193      19
6             158  144     -14
7             345  329     -16
8             202  217      15
-------------------------------------
2014 mean: 4.9763681592
2015 mean: 4.95708955224
mean change 2014-2015:

Yep, more retirees

In [34]:
compare_factors('numworkers')

------------------------------------
change in numworkers
where 5 is most important
------------------------------------
                14   15  change
numworkers_14
0              441  465      24
1              702  677     -25
2              430  424      -6
3               28   34       6
4                5    6       1
5                2    2       0
-------------------------------------
2014 mean: 1.04228855721
2015 mean: 1.032960199
mean change 2014-2015:

Movin' out of the CBD, heading to north, south, and west Seattle

In [35]:
compare_location('h_district_name')

------------------------------------
change in h_district_name
where 5 is most important
------------------------------------
                          14   15  change
h_district_name_14
East Side                223  226       3
Everett-Lynwood-Edmonds   98   98       0
Kitsap                    82   80      -2
North Seattle-Shoreline  305  310       5
Renton-FedWay-Kent        97   98       1
Seattle CBD              336  328      -8
South Pierce             131  132       1
Suburban Snohomish        96   94      -2
Tacoma                   118  117      -1
West-South Seattle       122  125       3

Leaving kitsap and Snohomish, going to King

In [36]:
compare_location('h_county_name')

------------------------------------
change in h_county_name
where 5 is most important
------------------------------------
                    14    15  change
h_county_name_14
King              1083  1087       4
Kitsap              82    80      -2
Pierce             249   249       0
Snohomish          194   192      -2