Comparing the panel households to cross-sectional households for 2015
not using any weights

In [1]:
import pandas as pd
import numpy as np

In [20]:
# Load 2014 and 2015 survey household data
hh15 = pd.read_excel(r'J:\Projects\Surveys\HHTravel\Survey2015\Data\Household\1_PSRC2015_HH_2015-07-27_V1.2.xlsx', sheet='Data')

In [23]:
hh15panel = hh15[hh15['sampletype'] == 2]
hh15cc = hh15[hh15['sampletype'] == 1]

In [24]:
expwt15cc = 'hhid'
expwt15panel = 'hhid'    # No weights yet so just using arbitrary column to sum up counts

hh15panel.year = 'panel'
hh15cc.year = 'cross-section'

In [25]:
def df_sample(df1, df2, field, agg1, agg2, report_avg=True, print_df=False):
    '''Compare samples from two surveys in the same dataframe'''
    df = pd.DataFrame()
    df[df1.year + ' Samples'] = df1.groupby(field).count()[agg1]
    df[df2.year + ' Samples'] = df2.groupby(field).count()[agg2]
    df[" "*5] = ""    # empty col to separate samples from shares
    df[df1.year + ' Shares'] = (df1.groupby(field).count()[agg1]/df1[agg1].count()).round(2)
    df[df2.year + ' Shares'] = (df2.groupby(field).count()[agg2]/df2[agg2].count()).round(2)

    if print_df:
        print df  

        print "---------" * 10

        if report_avg:
            print "Sample average " + df1.year + ": " + str(np.round(df1[field].mean(),2))
            print "Sample average " + df2.year + ": " + str(np.round(df2[field].mean(),2))
            
    else:
        return df

In [26]:
def df_weighted(df1, df2, field, agg1, agg2):
    '''Compare weighted results from two data sources'''
    df = pd.DataFrame()
    df[df1.year] = df1.groupby(field).sum()[agg1]
    df[df2.year] = df2.groupby(field).sum()[agg2]
    df[" "*5] = ""    # empty col to separate samples from shares
    df[df1.year + ' Shares'] = (df1.groupby(field).sum()[agg1]/df1[agg1].sum()).round(2)
    df[df2.year + ' Shares'] = (df2.groupby(field).sum()[agg2]/df2[agg2].sum()).round(2)
    
    return df

** Number of Adults**

In [27]:
df_weighted(hh15cc, hh15panel, 'numadults', expwt15cc, expwt15panel)

,cross-section,panel,,cross-section Shares,panel Shares
numadults,,,,,
1,4650933064,9336104572,,0.38,0.41
2,6961284265,11677384297,,0.56,0.51
3,649317165,1368023812,,0.05,0.06
4,135902937,267967565,,0.01,0.01

** Household Size **

In [28]:
df_sample(hh15cc, hh15panel, 'hhsize', expwt15cc, expwt15panel)

,cross-section Samples,panel Samples,,cross-section Shares,panel Shares
hhsize,,,,,
1,294,639,,0.36,0.40
2,337,618,,0.41,0.38
3,95,189,,0.12,0.12
4,72,122,,0.09,0.08
5,16,30,,0.02,0.02
6,5,9,,0.01,0.01
7,2,1,,0.00,0.00

** Number of Children **

In [30]:
df_sample(hh15cc, hh15panel, 'numchildren', expwt15cc, expwt15panel)

,cross-section Samples,panel Samples,,cross-section Shares,panel Shares
numchildren,,,,,
0,663,1329,,0.81,0.83
1,74,151,,0.09,0.09
2,64,100,,0.08,0.06
3,14,20,,0.02,0.01
4,4,7,,0.00,0.00
5,2,2,,0.00,0.00

** Number of Workers **

In [31]:
df_sample(hh15cc, hh15panel, 'numworkers', expwt15cc, expwt15panel)

,cross-section Samples,panel Samples,,cross-section Shares,panel Shares
numworkers,,,,,
0,253,466,,0.31,0.29
1,309,677,,0.38,0.42
2,240,424,,0.29,0.26
3,18,34,,0.02,0.02
4,1,6,,0.00,0.00

** Lifecycle **

In [32]:
df_sample(hh15cc, hh15panel, 'lifecycle', expwt15cc, expwt15panel)

,cross-section Samples,panel Samples,,cross-section Shares,panel Shares
lifecycle,,,,,
1,64,134,,0.08,0.08
2,94,146,,0.11,0.09
3,44,104,,0.05,0.06
4,151,342,,0.18,0.21
5,99,193,,0.12,0.12
6,71,144,,0.09,0.09
7,182,329,,0.22,0.20
8,116,217,,0.14,0.13

** Income **

In [33]:
df_sample(hh15cc, hh15panel, 'hh_income_detailed', expwt15cc, expwt15panel)

,cross-section Samples,panel Samples,,cross-section Shares,panel Shares
hh_income_detailed,,,,,
1,26,60,,0.03,0.04
2,84,161,,0.10,0.10
3,61,122,,0.07,0.08
4,92,184,,0.11,0.11
5,120,233,,0.15,0.14
6,104,219,,0.13,0.14
7,132,274,,0.16,0.17
8,50,96,,0.06,0.06
9,26,52,,0.03,0.03
10,24,50,,0.03,0.03
98,102,158,,0.12,0.10

** County **

In [34]:
df_sample(hh15cc, hh15panel, 'h_county_name', expwt15cc, expwt15panel, report_avg=False)

,cross-section Samples,panel Samples,,cross-section Shares,panel Shares
h_county_name,,,,,
King,371,1088,,0.45,0.68
Kitsap,47,80,,0.06,0.05
Pierce,299,249,,0.36,0.15
Snohomish,104,192,,0.13,0.12

In [ ]:
# Notice that the oversample from Pierce shows up in the county distribution

In [35]:
df_sample(hh15cc, hh15panel, 'h_district_name', expwt15cc, expwt15panel, report_avg=False)

,cross-section Samples,panel Samples,,cross-section Shares,panel Shares
h_district_name,,,,,
East Side,86,226,,0.10,0.14
Everett-Lynwood-Edmonds,50,98,,0.06,0.06
Kitsap,47,80,,0.06,0.05
North Seattle-Shoreline,89,310,,0.11,0.19
Renton-FedWay-Kent,59,98,,0.07,0.06
Seattle CBD,89,329,,0.11,0.20
South Pierce,56,132,,0.07,0.08
Suburban Snohomish,54,94,,0.07,0.06
Tacoma,243,117,,0.30,0.07
West-South Seattle,48,125,,0.06,0.08

** Residence Type **

** more apartment dwellers in panel, fewer SFH**

In [36]:
df_sample(hh15cc, hh15panel, 'res_type', expwt15cc, expwt15panel, report_avg=False)

,cross-section Samples,panel Samples,,cross-section Shares,panel Shares
res_type,,,,,
1,478,842,,0.58,0.52
2,46,83,,0.06,0.05
3,25,31,,0.03,0.02
4,20,17,,0.02,0.01
5,240,610,,0.29,0.38
6,9,19,,0.01,0.01
8,3,4,,0.00,0.00

In [252]:
df_sample(hh14, hh15, 'res_factors_walk', expwt14, expwt15, report_avg=False)

                  2014 Samples  2015 Samples        2014 Shares  2015 Shares
res_factors_walk
1                          409           136               0.07         0.06
2                          428           162               0.07         0.07
3                          687           268               0.11         0.11
4                         1851           782               0.31         0.32
5                         2661          1082               0.44         0.45
------------------------------------------------------------------------------------------

In [253]:
df_sample(hh14, hh15, 'res_factors_afford', expwt14, expwt15, report_avg=False)

                    2014 Samples  2015 Samples        2014 Shares  2015 Shares
res_factors_afford
1                            290           112               0.05         0.05
2                            217            79               0.04         0.03
3                            404           155               0.07         0.06
4                           1686           682               0.28         0.28
5                           3439          1402               0.57         0.58
------------------------------------------------------------------------------------------

In [254]:
df_sample(hh14, hh15, 'res_factors_transit', expwt14, expwt15, report_avg=False)

                     2014 Samples  2015 Samples        2014 Shares  \
res_factors_transit
1                            1035           390               0.17
2                             664           258               0.11
3                            1055           434               0.17
4                            1405           598               0.23
5                            1877           750               0.31

                     2015 Shares
res_factors_transit
1                           0.16
2                           0.11
3                           0.18
4                           0.25
5                           0.31
------------------------------------------------------------------------------------------