These notebooks are used to compare a base and scenario, from expanded surveys or model outputs, in H5 format. To run: from the menu bar above, choose **Cell -> Run All ** or run lines individually. Use the toggle button below to hide/show the raw Python code.

## Activity Pattern

*Summaries:*
    - Day Activity Pattern (2.1)
    - Number of Tours (2.2)
---

In [4]:
from IPython.display import HTML

HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
<form action="javascript:code_toggle()"><input type="submit" value="Click here to toggle on/off the raw code."></form>''')

In [5]:
import os
import numpy as np
import pandas as pd
import h5py
import pylab as P
from IPython.display import display, display_pretty, Javascript, HTML
from pandas_highcharts.core import serialize
from pandas_highcharts.display import display_charts
import matplotlib.pyplot as plt

# Show charts in notebook
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [6]:
# Define data sources

# 2006 survey
survey06_dir = r'R:\SoundCast\releases\TransportationFutures2010\scripts\summarize'


# 2014 survey
survey14_dir = r'D:\travel-studies\2014\estimation'

In [7]:
# Read Model Scenario Results
scen = h5py.File(survey06_dir + r'/survey.h5','r+')
scen_name = '2006 Survey'

In [8]:
# Read Base Data
base_file = r'/survey14.h5'

base = h5py.File(survey14_dir + base_file ,'r+')
base_name = '2014 Survey'

In [9]:
def build_df(h5file, h5table, var_dict, survey_file=False):
    ''' Convert H5 into dataframe '''
    data = {}
    if survey_file:
        # survey h5 have nested data structure, different than daysim_outputs
        for col_name, var in var_dict.iteritems():
            data[col_name] = [i[0] for i in h5file[h5table][var][:]]
    else:
        for col_name, var in var_dict.iteritems():
            data[col_name] = [i for i in h5file[h5table][var][:]]

    return pd.DataFrame(data)

In [10]:
tripdict={'Household ID': 'hhno',
            'Person Number': 'pno',
            'Travel Time':'travtime',
            'Travel Cost': 'travcost',
            'Travel Distance': 'travdist',
            'Mode': 'mode',
            'Purpose':'dpurp',
            'Departure Time': 'deptm',
            'Expansion Factor': 'trexpfac'}

In [13]:
trip_scen = build_df(h5file=scen, h5table='Trip', var_dict=tripdict, survey_file=True)
trip_base = build_df(h5file=base, h5table='Trip', var_dict=tripdict, survey_file=False)

In [16]:
trip_base

,Departure Time,Expansion Factor,Household ID,Mode,Person Number,Purpose,Travel Cost,Travel Distance,Travel Time
0,1300,16.51,300004,6,1,4,-99,-99,-99
1,1500,16.51,300004,6,1,5,-99,-99,-99
2,1700,16.51,300004,6,1,0,-99,-99,-99
3,905,3.91,300007,4,1,4,0,62,674
4,1030,3.91,300007,4,1,0,0,68,654
5,1030,4.16,300010,6,1,2,-99,-99,-99
6,1730,4.16,300010,6,1,4,-99,-99,-99
7,1800,4.16,300010,6,1,0,-99,-99,-99
8,645,3.91,300014,6,1,1,-99,-99,-99
9,1700,3.91,300014,6,1,2,-99,-99,-99
10,2120,3.91,300014,6,1,0,-99,-99,-99
11,1035,14.64,300016,1,1,2,-99,-99,596
12,1045,14.64,300016,1,1,2,-99,-99,490
13,1300,14.64,300016,1,1,5,-99,-99,490
14,1335,14.64,300016,1,1,5,-99,-99,206
15,1350,14.64,300016,1,1,2,-99,-99,490
16,1440,14.64,300016,1,1,1,-99,-99,735
17,1715,14.64,300016,1,1,0,-99,-99,733
18,1710,3.91,300018,6,1,2,-99,-99,-99
19,2020,3.91,300018,1,1,7,-99,-99,1169
20,2035,3.91,300018,9,1,0,-99,-99,-99
21,930,12.31,300022,1,1,1,-99,-99,2243
22,1315,12.31,300022,1,1,0,-99,-99,2243
23,1730,12.31,300022,1,1,2,-99,-99,2243
24,2020,12.31,300022,1,1,0,-99,-99,2243
25,1400,4.16,300028,6,1,2,-99,-99,-99
26,2030,4.16,300028,1,1,7,-99,-99,490
27,2300,4.16,300028,4,1,6,0,24,702
28,2330,4.16,300028,4,1,0,0,416,1392
29,1200,4.16,300028,1,1,4,-99,-99,1455
...,...,...,...,...,...,...,...,...,...
54077,1838,942.42,14106091,3,1,5,-99,-99,-99
54078,2000,942.42,14106091,3,1,5,0,637,1128
54079,2050,942.42,14106091,3,1,0,0,176,726
54080,455,942.42,14106091,3,2,6,0,1957,3028
54081,525,942.42,14106091,3,2,1,0,127,604
54082,1630,942.42,14106091,3,2,5,0,2368,3475
54083,1825,942.42,14106091,3,2,0,0,759,1453
54084,930,348.34,14106092,5,1,4,0,2571,4410
54085,1300,348.34,14106092,5,1,7,0,382,1765
54086,1500,348.34,14106092,5,1,0,0,2959,5391
54087,930,348.34,14106092,5,2,4,0,2571,4410
54088,1300,348.34,14106092,5,2,7,0,382,1765
54089,1500,348.34,14106092,5,2,0,0,2959,5391
54090,930,348.34,14106092,5,3,4,0,2571,4410
54091,1300,348.34,14106092,5,3,7,0,382,1765
54092,1500,348.34,14106092,5,3,0,0,2959,5391
54093,745,58.64,14106093,6,1,1,-99,-99,-99
54094,1705,58.64,14106093,6,1,0,-99,-99,-99
54095,1110,58.64,14106093,1,1,1,-99,-99,1718
54096,1310,58.64,14106093,4,1,1,0,85,970
54097,1845,58.64,14106093,1,1,4,-99,-99,5045
54098,2005,58.64,14106093,1,1,7,-99,-99,1519
54099,2200,58.64,14106093,4,1,0,0,226,986
54100,750,114.08,14106094,3,1,1,0,41,547
54101,1405,114.08,14106094,6,1,4,-99,-99,-99
54102,1545,114.08,14106094,6,1,4,-99,-99,-99
54103,1710,114.08,14106094,3,1,4,0,52,590
54104,1910,114.08,14106094,3,1,0,0,45,582
54105,1140,114.08,14106094,3,1,6,0,112,832
54106,1215,114.08,14106094,3,1,1,0,112,844

In [ ]:
persondict={'Household ID': 'hhno',
            'Person Number': 'pno',
            'Transit Pass': 'ptpass',
            'Auto Time to Work': 'pwautime',
            'Auto Distance to Work': 'pwaudist',
            'Worker Type': 'pwtyp',
            'Student Type': 'pstyp',
            'Usual Commute Mode': 'pwtaz',
            'Workplace TAZ': 'pwtaz',
            'Age': 'pagey',
            'Person Type': 'pptyp',
            'Expansion Factor': 'psexpfac'}

In [ ]:
person_scen = build_df(h5file=scen, h5table='Person', var_dict=persondict, survey_file=True)
person_base = build_df(h5file=base, h5table='Person', var_dict=persondict, survey_file=True)

In [ ]:
# Create unique ID for person by concatenating household ID and person number 
person_scen['personID'] = (person_scen['Household ID'].astype('str')+person_scen['Person Number'].astype('str')).astype('int')
person_base['personID'] = (person_base['Household ID'].astype('str')+person_base['Person Number'].astype('str')).astype('int')

In [ ]:
hhdict={'Household ID': 'hhno',
        'Household Size': 'hhsize',
        'Household Vehicles': 'hhvehs',
        'Household Workers': 'hhwkrs',
        'Household Income': 'hhincome',
        'Household TAZ': 'hhtaz',
        'Expansion Factor': 'hhexpfac'}

In [ ]:
hh_scen = build_df(h5file=scen, h5table='Household', var_dict=hhdict, survey_file=False)
hh_base = build_df(h5file=base, h5table='Household', var_dict=hhdict, survey_file=False)

In [ ]:
# person-day records
persondaydict={'Household ID': 'hhno',
            'Person Number': 'pno',
            'Home-Based Tours': 'hbtours',
            'Work-Based Tours': 'wbtours',
            'Tours to Usual Workplace': 'uwtours',
            'Work Tours': 'wktours',
            'School Tours': 'sctours',
            'Escort Tours': 'estours',
            'Personal Business Tours': 'pbtours',
            'Shopping Tours': 'shtours',
            'Meal Tours': 'mltours',
            'Social Tours': 'sotours',
            'Recreation Tours': 'retours',
            'Medical Tours': 'metours',
            'Work Stops': 'wkstops',
            'School Stops': 'scstops',
            'Escort Stops': 'esstops',
            'Personal Business Stops': 'pbstops',
            'Shopping Stops': 'shstops',
            'Meal Stops': 'mlstops',
            'Social Stops': 'sostops',
            'Recreation Stops': 'restops',
            'Medical Stops': 'mestops',
            'Time Worked at Home': 'wkathome',
            'Expansion Factor': 'pdexpfac'}

In [ ]:
persday_scen = build_df(h5file=scen, h5table='PersonDay', var_dict=persondaydict, survey_file=True)
persday_base = build_df(h5file=base, h5table='PersonDay', var_dict=persondaydict, survey_file=True)

In [ ]:
# Create unique ID for person by concatenating household ID and person number
persday_scen['personID'] = (persday_scen['Household ID'].astype('str')+persday_scen['Person Number'].astype('str')).astype('int')
persday_base['personID'] = (persday_base['Household ID'].astype('str')+persday_base['Person Number'].astype('str')).astype('int')

In [ ]:
# # Join household records to person records
# hh_per_scen = pd.merge(left=person_scen, right=hh_scen,on='Household ID',suffixes=('_p','_h'))
# hh_per_base = pd.merge(left=person_base, right=hh_base,on='Household ID',suffixes=('_p','_h'))

In [ ]:
# # Join household geography
# taz_geog = pd.read_csv(r'utils/taz_lookup.csv')
# taz_geog.reindex
# hh_per_scen_home_geog = pd.merge(hh_per_scen, taz_geog, left_on='Household TAZ', right_on='TAZ')
# hh_per_base_home_geog = pd.merge(hh_per_base, taz_geog, left_on='Household TAZ', right_on='TAZ')

In [ ]:
# # Join workplace geography
# hh_per_scen_work_geog = pd.merge(hh_per_scen, taz_geog, left_on='Workplace TAZ', right_on='TAZ')
# hh_per_base_work_geog = pd.merge(hh_per_base, taz_geog, left_on='Workplace TAZ', right_on='TAZ')

---

## Tours Taken

In [ ]:
tour_cols = [u'Escort Tours', u'Home-Based Tours', u'Meal Tours', u'Medical Tours', u'Personal Business Tours', u'Recreation Tours', u'School Tours', u'Shopping Tours', u'Social Tours', u'Tours to Usual Workplace', u'Work Tours', u'Work-Based Tours']
persday_scen[tour_cols]

---